* {
	font-family: "Roboto", "Helvetica", sans-serif;
}

body {
	background-color: #383838;
}

hr { 
    display: block;
	border-width: 10px;
	margin: 0px;
	border-color: black;
}

[class*="zocial-"]:before {
	color: black;
  	display: inline;
  	font-family: 'zocial', sans-serif;
  	width: 100%;
  	font-size: 20px;
}

div#social a {
	margin-right: 10px;
	margin-left: 10px;
}

div#social a:last-of-type {
	margin-right: 25px;
}

div#social {
	text-align: right;
	background-color: whitesmoke;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: black solid;
	border-width: 4px;
	text-decoration: none;
}

.zocial-github:hover:before {
  font-family: 'zocial', sans-serif;
  font-size: 25px;
}

.zocial-twitter:hover:before {
  font-family: 'zocial', sans-serif;
  font-size: 25px;
}

.zocial-linkedin:hover:before {
  font-family: 'zocial', sans-serif;
  font-size: 25px;
}

div .hero {
	background-image: url(space-1920.jpeg); 
    margin: 0;
    border-width: 4px;
}

.title {
	text-align: center;
	font-family: "Indie Flower", cursive;
	font-size: 48px;
	font-weight: bold;
	padding: 5px;
	margin: 0px;
	color: whitesmoke;
}

.subtitle {
	text-align: center;
	font-family: "Indie Flower", cursive;
	font-size: 36px;
	font-weight: bold;
	margin: 0em;
	padding: 5px 5px 20px 5px;
	color: whitesmoke;
}

p {
	color: whitesmoke;
	margin: 0px;
	padding: 0px 5px 5px 5px;
}

h3 {
	color: whitesmoke;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
}

h2 {
	color: whitesmoke;
	margin: 0px;
	padding: 20px;
	font-style: normal;
	text-align: center;
	font-family: "Indie Flower", cursive;
	font-weight: bold;
}

.shadow {
	text-shadow: 4px 4px black;
}

.imgfit { 
	width: 100%;
	height: 480px;
}

.entry {
	text-align: center;
	background-color: whitesmoke;
	font-weight: bold;
	border-radius: 10px;
	/* border: 6px solid black; */
	vertical-align: middle;
}

.buffer {
	margin:5px;
}

.description {
	color: black;
}

.container .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.my-picture {
  display: block;
  margin: 0px auto 10px;
  width: 40%;
  max-height: 500px;
  max-width: 500px;
  border: 4px solid whitesmoke;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.img-padding {
	padding-top: 20px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 781px) {
	.is-table-row {
		display: table;
		border-collapse: collapse;
	}
	.entry {
		float: none;
		display: table-cell;
		vertical-align: middle;
		width: 50%;
	}
}

@media screen and (max-width: 540px) {
	.entry {
		margin-top: 10px;
	}
	div#social {
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 14px;
	}
	.my-picture {
	  	width: 50%;
	}
	div .hero {
		background-image: url(space-900h.jpeg); 
	}
	.title {
		font-size: 22px;
	}
	.subtitle {
		font-size: 18px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 16px;
	}
	p {
		font-size: 12px;
	}
	li {
		font-size: 12px;
	}
	.shadow {
		text-shadow: 2px 2px black;
	}
}

@media screen and (max-width: 780px) and (min-width: 541px) {
	.entry {
		margin-top: 10px;
	}

	div#social {
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 16px;
	}
	.my-picture {
	 	 width: 50%;
	}
	div .hero {
		background-image: url(space-900h.jpeg); 
	}
	.title {
		font-size: 26px;
	}
	.subtitle {
		font-size: 22px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
	}
	li {
		font-size: 16px;
	}
}


