* {
	font-family: "Roboto", "Helvetica", sans-serif;
}

body {
	background-color: #383838;
}

hr { 
    display: block;
	border-width: 4px;
	margin: 0px;
	border-color: black;
}

[class*="zocial-"]:before {
	color: black;
  	display: inline;
  	font-family: 'zocial', sans-serif;
  	font-size: 20px;
}

div#social a {
	margin-right: 10px;
	margin-left: 10px;
}

div#social a:last-of-type {
	margin-right: 25px;
}

div#social {
	text-align: right;
	background-color: whitesmoke;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: black solid;
	border-width: 4px;
	text-decoration: none;
}

.zocial-github:hover:before {
  font-family: 'zocial', sans-serif;
  font-size: 25px;
}

.zocial-twitter:hover:before {
  font-family: 'zocial', sans-serif;
  font-size: 25px;
}

.zocial-linkedin:hover:before {
  font-family: 'zocial', sans-serif;
  font-size: 25px;
}

.sorting-buttons {
	background-color: #4c9dcc87
}

.title {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
	padding: 5px;
	margin: 0px;
	color: black;
	font-weight: bold;
}

.subtitle {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 32px;
	margin: 0em;
	padding: 5px 5px 5px 5px;
	color: black;
	font-weight: bold;
}

p {
	color: whitesmoke;
	margin: 0px;
	padding: 0px 5px 5px 5px;
}

h3 {
	color: whitesmoke;
	margin: 0px;
	padding: 10px;
	font-weight: bold;
}

h2 {
	color: whitesmoke;
	margin: 0px;
	padding: 20px;
	font-style: normal;
	text-align: center;
	font-weight: bold;
}

.shadow {
	text-shadow: 4px 4px black;
}

.imgfit { 
	width: 100%;
	height: 480px;
}

.entry {
	text-align: center;
	background-color: whitesmoke;
	font-weight: bold;
	border-radius: 10px;
	/* border: 6px solid black; */
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 10px;
}

.buffer {
	margin:5px;
}

.description {
	color: black;
}

.my-picture {
  display: block;
  margin: 0px auto 0px;
  width: 40%;
  max-height: 500px;
  max-width: 500px;
  border: 4px solid whitesmoke;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  border-radius: 3%;
}

.img-padding {
	padding: 5px;
}

.btn-light {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	margin-right: 3px;
	margin-left: 3px;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border: 4px solid black;
	-webkit-border-radius: 3%;
	-moz-border-radius: 3%;
	border-radius: 3%;
}

.image:hover {
	border: 4px solid whitesmoke;
}

#notgButton:hover ~ #notgPic {
	border: 4px solid whitesmoke;
}

#gtfsButton:hover ~ #gtfsPic {
	border: 4px solid whitesmoke;
}

#space-canoeButton:hover ~ #space-canoePic {
	border: 4px solid whitesmoke;
}

#twitch-chatbotButton:hover ~ #twitch-chatbotPic {
	border: 4px solid whitesmoke;
}

#ccdButton:hover ~ #ccdPic {
	border: 4px solid whitesmoke;
}

#game-dev-blogButton:hover ~ #game-dev-blogPic {
	border: 4px solid whitesmoke;
}

#photographyButton:hover ~ #photographyPic {
	border: 4px solid whitesmoke;
}

#pstwButton:hover ~ #pstwPic {
	border: 4px solid whitesmoke;
}

#nanodegreeButton:hover ~ #nanodegreePic {
	border: 4px solid whitesmoke;
}

#gbButton:hover ~ #gbPic {
	border: 4px solid whitesmoke;
}

#the-queueButton:hover ~ #the-queuePic {
	border: 4px solid whitesmoke;
}

.pic-modal {
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.modal-body {
	text-align: center;
}

.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%; }

.gallery .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease; 
}

.gallery .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); 
}
	
@media (max-width: 450px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}
	
@media (max-width: 400px) {
	.btn.filter {
		font-size: .75rem;
		padding-left: .2rem;
		padding-right: .2rem;
		margin-right: 2px;
		margin-left: 2px;
	}
}

/* MEDIA QUERIES */

@media screen and (min-width: 781px) {
	.is-table-row {
		display: table;
		border-collapse: collapse;
	}
	.entry {
		float: none;
		display: table-cell;
		vertical-align: middle;
		width: 50%;
	}

	.container .row {
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media screen and (max-width: 540px) {
	.entry {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	div#social {
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 14px;
	}
	.my-picture {
	  	width: 50%;
	}
	.title {
		font-size: 22px;
	}
	.subtitle {
		font-size: 20px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 16px;
	}
	p {
		font-size: 12px;
	}
	li {
		font-size: 12px;
	}
	.shadow {
		text-shadow: 2px 2px black;
	}
}

@media screen and (max-width: 780px) and (min-width: 541px) {
	.entry {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	div#social {
		padding-bottom: 5px;
		padding-top: 5px;
		font-size: 16px;
	}
	.my-picture {
	 	 width: 50%;
	}
	.title {
		font-size: 26px;
	}
	.subtitle {
		font-size: 22px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
	}
	li {
		font-size: 16px;
	}
}
